@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

button.acc-controls {
    position: relative;
    width: 100%;
    padding: 16px 70px 16px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: var(--dark-purple);
    background-color: transparent;
    border: none;
    outline-color: #AD28EB;
    outline-offset: 4px;
    cursor: pointer;

    transition: color .3s ease-in, outline .3s ease-in;
}

button.acc-controls:hover,
button.acc-controls:active {
    outline: none;
    color: #AD28EB;
}

button.acc-controls::before,
button.acc-controls::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: transform .3s ease-in;
}

button.acc-controls::before {
    background-image: url('./assets/images/icon-minus.svg');
    transform: scale(1);
}

button.acc-controls.acc-closed::before {
    transform: scale(0);
}

button.acc-controls::after {
    background-image: url('./assets/images/icon-plus.svg');
}

button.acc-controls.acc-closed::after {
    transform: scale(1);
}

button.acc-controls.acc-opened::after {
    transform: rotate(-45deg) scale(0);
}


p.text {
    margin: 0;
    font-size: 16px;
    line-height: 110%;
}

.page {
    width: 100%;
    min-height: 100vh;
}

section.faq {
    width: 100%;
    height: 100vh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--light-pink);
}

section.faq::before {
    content: "";
    position: absolute;
    height: 28.5%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    background-image: url('./assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

article.faq {
    position: relative;
    z-index: 2;
    padding: 24px;
    background-color: var(--white);
    border-radius: 8px;

    color: var(--dark-purple);

    animation-name: bounce-in-top;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.main-title {
    margin: 0;
    font-size: 32px;
    padding-left: 48px;
    padding-bottom: 10px;
}

ul.accordion>li:not(:last-of-type) {
    border-bottom: 2px solid var(--light-pink);
}

.accordion .panel {
    padding-top: 12px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: max-height .5s ease-out, padding .5s ease-out;
}

.accordion .acc-closed+.panel {
    padding: 0;
}

@media (min-width: 1024px) {
    section.faq::before {
        height: 35.5%;
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }

    article.faq {
        max-width: 600px;
        padding: 40px;
        border-radius: 16px;
    }

    .main-title {
        padding-left: 64px;
        padding-bottom: 16px;
        font-size: 55px;
    }

    button.acc-controls {
        padding: 30px 70px 30px 0;
        font-size: 18px;
    }

    .accordion .panel {
        padding-top: 16px;
        padding-bottom: 24px;
    }

    .accordion .panel .text {
        line-height: 132%;
    }
}


@keyframes bounce-in-top {
    0% {
        transform: translateY(-1000px);
        animation-timing-function: ease-in;
    }

    38%,
    73%,
    90%,
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    58% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    83% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }

    95% {
        transform: translateY(-5px);
        animation-timing-function: ease-in;
    }


}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
